/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.boton {
    @apply text-sm font-bold py-1 px-4 rounded-full;
}

.tarjeta {
    @apply rounded-xl m-4 text-gray-700 text-xs mx-4 bg-white shadow-gray-300 shadow-md overflow-hidden;
}

.boton--negro {
    @apply text-white hover:bg-gray-800 bg-gray-700;
    box-shadow: 5px 6px 12px 3px rgba(83, 83, 100, 0.6), -6px 4px 9px -9px rgb(0, 0, 0);
}

.boton--rojo {
    @apply text-red-500 border border-red-500 hover:bg-red-500 hover:text-white;
    box-shadow: 4px 5px 4px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
}

.boton--gris {
    @apply hover:bg-gray-200 bg-gray-100;
    box-shadow: 4px 5px 4px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
}

.label {
    @apply block uppercase text-xs font-bold mb-6;
}

.input {
    @apply w-full border rounded-xl p-2 focus:outline-none focus:bg-white focus:border-gray-500;
    box-shadow: -4px -4px 6px -1px white, inset 2px 2px 8px -1px rgba(72, 79, 96, 0.5)
}

.botones {
    @apply bg-gradient-to-r from-gray-700 via-gray-200 to-gray-200 px-4 py-3 flex justify-between;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes exit {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}

// ::view-transition-old(root) {
//     animation: exit 0.5s ease 0s 0.5 normal forwards;
// }

// ::view-transition-new(root) {
//     animation: enter 0.5s ease 0s 0.5 normal forwards;
// }